body,html{
    background-color:rgb(50, 50, 56);
    font-family: monospace,"Times New Roman", Times, serif;
}

.titleName{                                         
    background-color: rgb(34, 30, 34);

    color: rgba(134, 226, 28, 0.945);
    font-size: 50px;
    margin: 0px;
    
}

.centerBox{
  background-color: rgb(33, 35, 43);
    height: 70%;
    width: 60%;
    float: left;
    color: rgba(134, 226, 28, 0.945);
    font-size: 20px;

  
}

.leftBox{
    background-color: rgb(33, 35, 43);
    height: 70%;
    width: 18%;
    float: left;
    margin-right: 2%;
    color: rgba(134, 226, 28, 0.945);
    font-size: 20px;
 
}
.rightBox{
    background-color: rgb(33, 35, 43);
    height: 70%;
    width: 18%;
    float: left;
    margin-left: 2%;
    color: rgba(134, 226, 28, 0.945);
    font-size: 20px;

}
.endBox{
   background-color: rgb(22, 24, 29);
    text-align: center;
    margin-top: 1%;
    width: 100%;
    float: left;

    
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 20px;
    border: none;
    margin: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    font-size: 18px;
    display: none;
    float: left;
    background-color: #5dc244;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
   
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .displayProfile{
    
    display: none;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: rgba(134, 226, 28, 0.945);
    font-size: 40px;

 
  }
  .buttprofile{
    text-align: center;
    font-size: 20px;

    color: #ddd;
    background-color: rgba(134, 226, 28, 0.945);
    float: right;
  }
  .allvisible{
    display: block;
  }