body,html{
    background-color:rgb(50, 50, 56);
    font-family: monospace,"Times New Roman", Times, serif;
}
.displayProfile{
  display: block;
}

/*Small screen*/
@media only screen and (max-width: 600px) {
  body,html{
    background-color: white;
    font-family: monospace,"Times New Roman", Times, serif;
}
}

